@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <a href="/Restaurante/index">
        <div class="col-md-2 ">
            <div>
                <h2>Cardapio</h2>
            </div>
        </div>
    </a>
</div>

<div class="row">
<a href="/Restaurante/Create">
    <div class="col-md-2 ">
        <div>
            <h2>Criação De Novos Produtos</h2>
        </div>
    </div>
</a>
</div>

<div class="row">
    <a href="/Restaurante/MenuVirutal">
        <div class="col-md-2 ">
            <div>
                <h2>Menu Virtual</h2>
            </div>
        </div>
    </a>
</div>

<div class="row">
    <a href="/Restaurante/QRCODindex">
        <div class="col-md-2 ">
            <div>
                <h2>QR CODE</h2>
            </div>
        </div>
    </a>
</div>