@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <a href="/Restaurante/index">
        <div class="col-md-2 ">
            <div>
                <h2>Cardapio</h2>
            </div>
        </div>
    </a>
</div>