@{
    ViewBag.Title = "Home Page";

}




<div class="container">
    <!-- Primeiro Card -->
    <div class="card">
        <div class="content">
            <a href="/Restaurante/index">
                <div class="col-md-3 ">
                    <div>
                        <h2>Cardápio</h2>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <!-- Segundo Card -->
    <div class="card">
        <div class="content">
            <a href="/Restaurante/Create">
                <div class="col-md-12 ">
                    <div>
                        <h2>Criar Novos Produtos</h2>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <!-- Terceiro Card -->
    <div class="card">
        <div class="content">
            <a href="/Restaurante/MenuVirutal">
                <div class="col-md-12 ">
                    <div>
                        <h2>Menu Virtual</h2>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>


<div class="container">
    <!-- Primeiro Card -->
    <div class="card">
        <div class="content">
            <a href="/Restaurante/QRCODindex">
                <div class="col-md-12 ">
                    <div>
                        <h2>QR CODE</h2>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <!-- Segundo Card -->
    <div class="card">
        <div class="content">
            <a href="/Campanhas/index">
                <div class="col-md-9 ">
                    <div>
                        <h2>Campanhas</h2>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>


















    <!--  <nav class="navbar navbar-expand-lg navbar-light">
        <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="/Restaurante/index">
                            <div class="col-md-3 ">
                                <div>
                                    <h2>Cardapio</h2>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>


                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="/Restaurante/Create">
                            <div class="col-md-11 ">
                                <div>
                                    <h2>Criar Novos Produtos</h2>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
    </div>
    </nav>


    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/Restaurante/MenuVirutal">
                        <div class="col-md-2 ">
                            <div>
                                <h2>Menu Virtual</h2>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
<<<<<<< HEAD
    </nav>


    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/Restaurante/QRCODindex">
                        <div class="col-md-10 ">
                            <div>
                                <h2>QR CODE</h2>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>


            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/Campanhas/index">
                        <div class="col-md-9 ">
                            <div>
                                <h2>Campanhas</h2>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </nav> -->
=======
    </a>
</div>

<div class="row">
    <a href="/Campanhas/index">
        <div class="col-md-2 ">
            <div>
                <h2>Campanhas</h2>
            </div>
        </div>
    </a>
</div>
>>>>>>> 374e79f6f8ca60d80313c60f3e415412c80e1f60
