<link href="~/Content/QRCODE.css" rel="stylesheet" />
@{
    ViewBag.Title = "QR";

}

@using (Html.BeginForm("QR", "QrCode", FormMethod.Post))
{
    <div>
        <form>
            <input type="hidden" name="qrcode" value="@Request.Url.Authority/Restaurante/Menu" />
        </form>
        <br />
        <br />
        <div class="QRCode">
            <input class="butao" type="submit" value="Generate" />
        </div>
        @if (ViewBag.QrCodeImage != null)
        {
            <img class="run" src="@ViewBag.QrCodeImage" alt="" style="height:300px;width:300px;margin-left:30px;margin-top:-27px;" />
        }
    </div>
}


