<link href="~/Content/QRCODE.css" rel="stylesheet" />
@{
    ViewBag.Title = "QR";

}

@using (Html.BeginForm("QR", "QrCode", FormMethod.Post))
{
    <div class="container">
        <form>
            <input type="hidden" name="qrcode" value="@Request.Url.AbsoluteUri" />
        </form>
        <br />
        <br />
        <div class="QRCode">
            <input class="butao" type="submit" value="Generate" />

        </div>
        @if (ViewBag.QrCodeImage != null)
        {
            <img src="@ViewBag.QrCodeImage" alt="" style="height:300px;width:300px" />
        }
    </div>
}


