body {
}

.Nome {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
    color: brown;
}

.detalhes {
    font-weight: bold;
}

.descricao {
    letter-spacing: 1px;
    color: brown;
    font-weight: bold;
}

.preco {
    text-align: center;
    font-family: arial, sans-serif;
    font-weight: bold;
}

#dov {
    display: flex;
    justify-content: center;
}

.imgModal {
    border-top: 4px solid brown;
    border-bottom: 4px solid brown;
    border-left: 4px solid brown;
    border-right: 4px solid brown;
    border-radius: 15px;
    width: 500px;
    height: 500px;
}

@media screen and (min-width: 280px) {
    .imgModal {
        width: 200px;
        height: 200px;
    }
}

@media screen and (min-width: 340px) {
    .imgModal {
        width: 220px;
        height: 220px;
    }
}

@media screen and (min-width: 400px) {
    .imgModal {
        width: 240px;
        height: 240px;
    }
}

@media screen and (min-width: 500px) {
    .imgModal {
        width: 255px;
        height: 255px;
    }
}

@media screen and (min-width: 600px) {
    .imgModal {
        width: 265px;
        height: 265px;
    }
}
