USE [master]
GO
/****** Object:  Database [Lunary]    Script Date: 08/09/2022 19:12:35 ******/
CREATE DATABASE [Lunary]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Lunary', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SENAI\MSSQL\DATA\Lunary.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Lunary_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SENAI\MSSQL\DATA\Lunary_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Lunary].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Lunary]
GO
/****** Object:  Table [dbo].[Restaurante]    Script Date: 08/09/2022 19:12:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Restaurante](
	[RESTAUID] [int] IDENTITY(1,1) NOT NULL,
	[RESTANOME] [varchar](200) NOT NULL,
	[RESTAPRECO] [float] NOT NULL,
	[RESTADESCRICAO] [varchar](300) NULL,
	[RESTAPREPROMOCAO] [varchar](100) NOT NULL,
	[RESTACATEGORIA] [varchar](300) NOT NULL,
	[imagem] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[RESTAUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[Categorias]    Script Date: 08/09/2022 19:12:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create View [dbo].[Categorias] as
select r.RESTACATEGORIA from Restaurante r
Group by r.RESTACATEGORIA
GO
/****** Object:  Table [dbo].[Estabelecimento]    Script Date: 08/09/2022 19:12:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estabelecimento](
	[ESTABID] [int] IDENTITY(1,1) NOT NULL,
	[ESTABNOME] [varchar](100) NOT NULL,
	[ESTABENDERECO] [varchar](100) NOT NULL,
	[ESTABBAIRRO] [varchar](100) NOT NULL,
	[ESTATELEFONE] [int] NOT NULL,
	[ESTABCEP] [int] NOT NULL,
	[ESTABLOGIN] [varchar](100) NOT NULL,
	[ESTABSENHA] [varchar](100) NOT NULL,
	[ESTATIPO] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ESTABID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
