@model Projeto_Lunary.Models.Campanhas
@{
    ViewBag.Title = "Excluir";
}

<h2>Excluir</h2>

<div>
    <form action="/Campanhas/ExcluirConfirma?id=@Model.CAMID" enctype="multipart/form-data" method="post">

        <label>Descrição: </label>
        <label>@Model.CAMDESCRICAO</label>

        <div>

            <label></label>
            <label>@Model.CAMFOTO</label>
            <td>
                @{
                    if (Model.CAMFOTO != null)
                    {
                        var base64 = Convert.ToBase64String(Model.CAMFOTO);
                        var imgSrc = String.Format("data:image/jpg/gif/png;base64,{0}", base64);
                        <img src='@imgSrc' style="max-width:100px; max-height:100px;" />
                    }
                }
            </td>
        </div>

        <div>
            <label>Preço: </label>
            <label>@Model.CAMPRECO</label>

        </div>

        <div>
            <a href="/Campanhas/Index"><button type="button" class="btn btn-primary">Voltar</button></a>
            <a href="/Campanhas/Index"><button type="button" class="btn btn-danger">Excluir</button></a>
        </div>

    </form>

</div>
