@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    background-color: #ffffff;
}
/*  ---&#x1F8158----110*/

#progress {
    position: fixed;
    bottom: 20px;
    right: 10px;
    height: 50px;
    width: 50px;
    display: none;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px brown;
    cursor: pointer;
    z-index: 1000;
    
}
.progress-bar {
    background-color: brown;
}

#progress-value {
    display: block;
    height: calc(100% - 15px);
    width: calc(100% - 15px);
    background-color: rgba(165, 42, 42, 0.89);
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 25px;
    color: #001a2e;
}

.cor {
    background-color: #ffffff;
}

body {
    margin: 0;
    padding: 0;
}


.gotopbtn {
    position: fixed;
    width: 50px;
    height: 50px;
    background: #27ae60;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 22px;
}

.titulo {
    text-align: center;
    color: brown;
    margin-bottom: 60px;
    margin-top: 50px;
}

.body {
    position: fixed;
}

.subtitulo {
    text-align: center;
    color: brown;
    margin-bottom: 60px;
}

.barra {
    text-align: left;
    color: brown;
    margin-left: 20px;
    margin-bottom: 30px;
    margin-top: 15px;
}

.Oferta {
    text-align: center;
    color: brown;
    margin-top: 30px;
}

.Categoria {
    text-align: center;
    color: brown;
    margin-top: 40px;
}

.Ofertasdehoje {
    text-align: center;
    color: brown;
    margin-top: 30px;
}

.row {
    margin-top: 40px;
}

.barraVermelha {
    margin-top: 15px;
    margin-bottom: 1px;
    background-color: brown;
    color: brown;
}

.preco {
    margin-top: 28px;
    color: brown;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    font-family: arial, sans-serif;
}

.Pastel {
    color: brown;
    margin-top: 15px;
}

.pratos {
    display: none;
}

.show {
    display: block;
}


.semiprogress {
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
}

.progress {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.dropdown {
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 15px;
}

.btn-danger {
    width: 220px;
    border: 2px solid brown;
}



.img2 {
    text-align: center;
}

.img {
    border-top: 4px solid brown;
    border-bottom: 4px solid brown;
    border-left: 4px solid brown;
    border-right: 4px solid brown;
    border-radius: 15px
}




/*Botão like*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');

.heart-btn {
    position: absolute;
    top: 100%;
    left: 40%;
    transform: translate(-50%,-50%);
}

.heart {
    position: absolute;
    background: url("/Content/Menu/img/HeartAnimation.png") no-repeat;
    background-position: left;
    background-size: 2900%;
    height: 90px;
    width: 90px;
    top: 150%;
    left: 21%;
    transform: translate(-50%,-50%);
}


.heart-active {
    content: '1';
    color: #000;
}

.heart-active {
    color: #000;
}

.heart.heart-active {
    animation: animate .8s steps(28) 1;
    background-position: right;
}

.numb{
    font-size: 21px;
    font-weight: 600;
    font-family: sans-serif;
    color: #9c9496;
    position: absolute;
    top: 150%;
    left: 150%;
    transform: translate(-50%,-50%);
}

.numb.heart-active:before {
    color: black;
}

@keyframes animate {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}


/*responsivo*/
@media screen and (max-width: 350px) {
    #progress {
        width: 45px;
        height: 45px;
        border-radius: 45%;
    }

    #progress-value {
        font-size: 21px;
    }
}


@media screen and (min-width: 350px) {
    .titulo {
        font-size: 60px;
    }

    .subtitulo {
        font-size: 30px;
    }

    .barra {
        font-size: 25px;
    }

    .Categoria {
        font-size: 40px;
    }

    .Ofertasdehoje {
        font-size: 20px;
    }

    .Pastel {
        font-size: 30px;
    }

    .preco {
        font-size: 22px;
    }

    .heart-btn {
        top: 92%;
        left: 20%;
    }

    .heart {
        height: 110px;
        width: 110px;
    }

    .img {
        height: 250px;
        width: 250px;
    }
}


@media screen and (min-width: 390px) {
    .img {
        height: 300px;
        width: 300px;
    }

    .heart-btn {
        top: 92%;
        left: 38%;
    }

    .heart {
        height: 110px;
        width: 110px;
    }
}


@media screen and (min-width: 280px) {
    .heart-btn {
        top: 91%;
        left: 22%;
    }

    .heart {
        height: 110px;
        width: 110px;
    }

    .preco {
        margin-left: 160px;
    }

    #progress {
        width: 40px;
        height: 40px;
        border-radius: 45%;
    }

    #progress-value {
        font-size: 17px;
    }

    .content {
        padding: 7px 10px;
        display: flex;
        cursor: pointer;
        background-color: transparent;
    }

    .numb:before {
        top: 50%;
        left: 150%;
    }
}

@media screen and (min-width: 440px) {
    .img {
        height: 350px;
        width: 350px;
    }

    .heart {
        top: 97%;
    }

    .content {
        padding: 7px 10px;
        display: flex;
        cursor: pointer;
        background-color:transparent;
    }

    .numb:before {
        top: 85%;
    }

    .preco {
        margin-left: 300px;
    }

    .heart-btn {
        top: 91%;
        left: 19%;
    }
}


@media screen and (min-width: 500px) {
    .img {
        height: 400px;
        width: 400px;
    }

    .heart-btn {
        top: 91%;
        left: 19%;
    }

    .heart {
        top: 110%;
    }

    .preco {
        margin-left: 390px;
    }
}



@media screen and (min-width: 600px) {
    .img {
        height: 450px;
        width: 450px;
    }

    .heart-btn {
        top: 91%;
        left: 20%;
    }

    .heart {
        height: 120px;
        width: 120px;
    }

    .titulo {
        font-size: 63px;
    }

    .subtitulo {
        font-size: 33px;
    }

    .barra {
        font-size: 28px;
    }

    .Categoria {
        font-size: 43px;
    }

    .Ofertasdehoje {
        font-size: 23px;
    }

    .Pastel {
        font-size: 35px;
    }

    .preco {
        font-size: 25px;
        margin-left: 430px;
    }
}

/*responsividade-preco*/
@media screen and (min-width: 296px) {
    .preco {
        margin-left: 170px;
    }

    .heart-btn {
        top: 91%;
        left: 22%;
    }
}

@media screen and (min-width: 314px) {
    .preco {
        margin-left: 180px;
    }
}

@media screen and (min-width: 330px) {
    .preco {
        margin-left: 190px;
    }

    .heart-btn {
        top: 91%;
        left: 24%;
    }
}

@media screen and (min-width: 345px) {
    .preco {
        margin-left: 200px;
    }
}

@media screen and (min-width: 360px) {
    .preco {
        margin-left: 210px;
    }
}

@media screen and (min-width: 375px) {
    .preco {
        margin-left: 220px;
    }
}

@media screen and (min-width: 390px) {
    .preco {
        margin-left: 245px;
    }

    .heart-btn {
        top: 91%;
        left: 20%;
    }
}

@media screen and (min-width: 405px) {
    .preco {
        margin-left: 255px;
    }
}

@media screen and (min-width: 415px) {
    .preco {
        margin-left: 265px;
    }
}

@media screen and (min-width: 430px) {
    .preco {
        margin-left: 270px;
    }
}



@media screen and (min-width: 460px) {
    .preco {
        margin-left: 320px;
    }
}

@media screen and (min-width: 475px) {
    .preco {
        margin-left: 320px;
    }
}

@media screen and (min-width: 490px) {
    .preco {
        margin-left: 330px;
    }
}

@media screen and (min-width: 525px) {
    .preco {
        margin-left: 370px;
    }
}

@media screen and (min-width: 540px) {
    .preco {
        margin-left: 380px;
    }
}

@media screen and (min-width: 555px) {
    .preco {
        margin-left: 390px;
    }
}

@media screen and (min-width: 570px) {
    .preco {
        margin-left: 395px;
    }

    .heart-btn {
        top: 91%;
        left: 21%;
    }
}

@media screen and (min-width: 585px) {
    .preco {
        margin-left: 405px;
    }
}

@media screen and (min-width: 615px) {
    .preco {
        margin-left: 440px;
    }
}
