


body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #777;
    border-color: #fff
}


/* Scrol to Top */

html {
    scroll-behavior: smooth;
}

#progress {
    position: fixed;
    bottom: 20px;
    right: 10px;
    height: 50px;
    width: 50px;
    display: none;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px brown;
    cursor: pointer;
    z-index: 1000;
}

#progress-value {
    display: block;
    height: calc(100% - 15px);
    width: calc(100% - 15px);
    background-color: rgba(165, 42, 42, 0.89);
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 25px;
    color: #001a2e;
}

.cor {
    background-color: #ffffff;
}

.gotopbtn {
    position: fixed;
    width: 50px;
    height: 50px;
    background: #27ae60;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 22px;
}


/* Layout */


.titulo {
    text-align: center;
    color: brown;
    margin-bottom: 60px;
    margin-top: 50px;
}

.body {
    position: fixed;
}

.subtitulo {
    text-align: center;
    color: #a52a2a;
    margin-bottom: 60px;
}

.barra {
    text-align: left;
    color: brown;
    margin-left: 20px;
    margin-bottom: 30px;
    margin-top: 15px;
}

.Oferta {
    text-align: center;
    color: brown;
    margin-top: 30px;
}

.Categoria {
    text-align: center;
    color: brown;
    margin-top: 40px;
}

.Ofertasdehoje {
    text-align: center;
    color: brown;
    margin-top: 30px;
}

.row {
    margin-top: 40px;
}

.pratos {
    display: none;
}

.show {
    display: block;
}

.barraVermelha {
    margin-top: 15px;
    margin-bottom: 1px;
    background-color: brown;
    color: brown;
    
}

.preco {
    margin-top: 28px;
    color: brown;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    font-family: arial, sans-serif;
}

.name {
    color: brown;
    margin-top: 15px;
}

.semiprogress {
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
    
}

.progress-bar {
    background-color: brown;
}
.progress {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: brown;
    background-color: brown;
}

.semibotao {   
    position: relative;
    text-align: center;
}

.btn-group {
    border: 2px solid #a52a2a;
    padding: 6px 20px;
}

.img2 {
    text-align: center;
}

.img {
    border-top: 4px solid brown;
    border-bottom: 4px solid brown;
    border-left: 4px solid brown;
    border-right: 4px solid brown;
    border-radius: 15px
}

.imgmodal {
    border-top: 4px solid brown;
    border-bottom: 4px solid brown;
    border-left: 4px solid brown;
    border-right: 4px solid brown;
    align-content: center;
    margin-left: 45px;
}





/* Botão de Like */

@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');

.heart-btn {
    position: absolute;
    top: 95%;
    left: 40%;
    transform: translate(-50%,-50%);
}

.content {
    padding: 7px 10px;
    display: flex;
    cursor: pointer;
}



.heart {
    position: absolute;
    background: url('img/heartanimation.png');
    background-position: left;
    background-size: 2900%;
    height: 90px;
    width: 90px;
    top: 75%;
    left: 21%;
    transform: translate(-50%,-50%);
}

.text {
    font-size: 21px;
    margin-left: 30px;
    color: grey;
    font-family: 'Montserrat',sans-serif;
}

.heart-active {
    content: '13';
    color: #000;
}

.text.heart-active {
    color: #000;
}

.heart.heart-active {
    animation: animate .8s steps(28) 1;
    background-position: right;
}


@keyframes animate {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}

/* Responsivo */

@media screen and (min-width: 350px) {
    .titulo {
        font-size: 60px;
    }

    .subtitulo {
        font-size: 30px;
    }

    .barra {
        font-size: 25px;
    }

    .Categoria {
        font-size: 40px;
    }

    .Ofertasdehoje {
        font-size: 20px;
    }

    .Pastel {
        font-size: 30px;
    }

    .preco {
        font-size: 22px;
    }

    .heart-btn {
        top: 95%;
        left: 20%;
    }

    .heart {
        height: 110px;
        width: 110px;
    }

    .img {
        height: 250px;
        width: 250px;
    }
}

@media screen and (min-width: 390px) {
    .img {
        height: 300px;
        width: 300px;
    }


    .heart-btn {
        top: 95%;
        left: 38%;
    }

    .heart {
        height: 110px;
        width: 110px;
    }
}







@media screen and (min-width: 280px) {
    .heart-btn {
        top: 95%;
        left: 27%;
    }

    .heart {
        height: 110px;
        width: 110px;
    }
}





@media screen and (min-width: 440px) {
    .img {
        height: 350px;
        width: 350px;
    }

    .heart-btn {
        top: 95%;
        left: 30%;
    }

    .heart {
        top: 95%;
    }
}

@media screen and (min-width: 500px) {
    .img {
        height: 400px;
        width: 400px;
    }

    .heart-btn {
        top: 95%;
        left: 30%;
    }

    .heart {
        top: 110%;
    }
}

@media screen and (min-width: 600px) {
    .img {
        height: 450px;
        width: 450px;
    }

    .heart-btn {
        top: 95%;
        left: 30%;
    }

    .heart {
        height: 120px;
        width: 120px;
    }

    .titulo {
        font-size: 63px;
    }

    .subtitulo {
        font-size: 33px;
    }

    .barra {
        font-size: 28px;
    }

    .Categoria {
        font-size: 43px;
    }

    .Ofertasdehoje {
        font-size: 23px;
    }

    .Pastel {
        font-size: 43px;
    }

    .preco {
        font-size: 25px;
    }
}

