@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    background-color: #ffffff;
}
/*  ---&#x1F8158----110*/

#progress {
    position: fixed;
    bottom: 20px;
    right: 10px;
    height: 50px;
    width: 50px;
    display: none;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px brown;
    cursor: pointer;
    z-index: 1000;
}

.progress-bar {
    background-color: brown;
}

#progress-value {
    display: block;
    height: calc(100% - 15px);
    width: calc(100% - 15px);
    background-color: rgba(165, 42, 42, 0.89);
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 25px;
    color: #001a2e;
}

.cor {
    background-color: #ffffff;
}

body {
    margin: 0;
    padding: 0;
    transition: .2s;
}


.gotopbtn {
    position: fixed;
    width: 50px;
    height: 50px;
    background: #27ae60;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 22px;
}

.titulo {
    text-align: center;
    color: brown;
    margin-bottom: 60px;
    margin-top: 50px;
}

.body {
    position: fixed;
}

.subtitulo {
    text-align: center;
    color: brown;
    margin-bottom: 60px;
}

.barra {
    text-align: left;
    color: brown;
    margin-left: 20px;
    margin-bottom: 30px;
    margin-top: 15px;
}

.Oferta {
    text-align: center;
    color: brown;
    margin-top: 30px;
}

.Categoria {
    text-align: center;
    color: brown;
    margin-top: 40px;
}

.Ofertasdehoje {
    text-align: center;
    color: brown;
    margin-top: 30px;
}

.row {
    margin-top: 40px;
}

.barraVermelha {
    margin-top: 15px;
    margin-bottom: 1px;
    background-color: brown;
    color: brown;
}

.preco {
    margin-top: 28px;
    color: brown;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    font-family: inherit;
}

.preco-normal {
    margin-top: 28px;
    color: brown;
    font-style: italic;
    
    font-size: 13px;
    font-family: arial, sans-serif;
    text-decoration: line-through;
    padding: 0;
    margin: 0;
}


.preco-promocao {
    margin-top: 22px;
    color: brown;
    font-style: italic;
    font-weight: bold;
    font-size: 19px;
    font-family: arial, sans-serif;
    position: absolute;
    top: 100%;
    left: 14%;
    transform: translate(-50%, -50%);
}

.de {
    
    margin-left: 30px;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 83.5%;
    left: 65%;
    transform: translate(-50%, -50%);
    font-size: 13px;
    color: brown;
    font-style: italic;
}

.por {
    font-weight: bold;
    margin-left: 30px;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 95%;
    left: 64%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    color: brown;
    font-style: italic;
}



.name {
    color: brown;
    margin-top: 15px;
    text-transform: capitalize;
    font-family:unset;
}

.pratos {
    display: none;
}

.show {
    display: block;
}


.semiprogress {
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
}

.progress {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.dropdown {
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 15px;
}

.btn-danger {
    width: 220px;
    border: 2px solid brown;
}



.img2 {
    text-align: center;
}

.img {
    border-top: 4px solid brown;
    border-bottom: 4px solid brown;
    border-left: 4px solid brown;
    border-right: 4px solid brown;
    border-radius: 15px;
    margin-top:20px;
    
}

.img2-indisponivel {
    text-align: center;
    filter: grayscale(1);
    z-index: 10000;
}



/*Botão like*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');

.heart-btn {
    position: absolute;
    top: 100%;
    left: 40%;
    transform: translate(-50%,-50%);
}

.heart {
    position: absolute;
    background: url("/Content/Menu/img/HeartAnimation.png") no-repeat;
    background-position: left;
    background-size: 2900%;
    height: 90px;
    width: 90px;
    top: 150%;
    left: 21%;
    transform: translate(-50%,-50%);
}


.heart-active {
    color: #000;
}

.heart-active {
    color: #000;
}

.heart.heart-active {
    animation: animate .8s steps(28) 1;
    background-position: right;
}

.number {
    font-size: 21px;
    font-weight: 600;
    font-family: sans-serif;
    color: #9c9496;
    position: absolute;
    top: 150%;
    left: 150%;
    transform: translate(-50%,-50%);
}

    .number.heart-active:before {
        color: black;
    }

@keyframes animate {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }

}

/* Tema Noturno */


.toggle {
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 120px;
    height: 60px;
    border-radius: 50px;
    transition: .2s;
}

    .toggle i {
        width: 50%;
        line-height: 60px;
        text-align: center;
        font-size: 30px;
        z-index: 1;
    }

    .toggle .ball {
        position: absolute;
        width: 45px;
        height: 45px;
        margin: 7.5px;
        border-radius: 50%;
        transition: .3s ease-out;
    }

input {
    display: none;
}

/*
  -- modo claro --
*/

.light {
    background: #fafafa;
}

    .light .toggle {
        background: linear-gradient(145deg, #e1e1e1, #fff);
        box-shadow: 3px 3px 4px #b5b5b5, -3px -3px 4px #ffffff;
    }

        .light .toggle .bxs-sun {
            color: #fafafa;
        }

        .light .toggle .bx-moon {
            color: #151d2a;
        }

        .light .toggle .ball {
            background: #151d2a;
        }

/*
  -- modo escuro --
*/

.dark {
    background: #151d2a;    
}

.dark .toggle {
background: #151d2a;
box-shadow: 3px 3px 3px #0e131b, -3px -3px 3px #1c2739;
}

.dark .toggle .bx-sun {
    color: #fafafa;
}

.dark .toggle .bxs-moon {
    color: #151d2a;
}

.dark .toggle .ball {
    background: #fafafa;
    transform: translateX(60px);
}






/*responsivo*/
@media screen and (max-width: 350px) {
    #progress {
        width: 45px;
        height: 45px;
        border-radius: 45%;
    }

    #progress-value {
        font-size: 21px;
    }
}


@media screen and (min-width: 350px) {
    .titulo {
        font-size: 60px;
    }

    .subtitulo {
        font-size: 30px;
    }

    .barra {
        font-size: 25px;
    }

    .Categoria {
        font-size: 40px;
    }

    .Ofertasdehoje {
        font-size: 20px;
    }

    .name {
        font-size: 30px;
    }

    .preco {
        font-size: 22px;
    }

    

    .heart-btn {
        top: 92%;
        left: 20%;
    }

    .heart {
        height: 110px;
        width: 110px;
    }

    .img {
        height: 250px;
        width: 250px;
    }

    .img2-indisponivel {
        text-align: center;
        filter: grayscale(1);
        z-index: 10000;
    }
}


@media screen and (min-width: 390px) {
    .img {
        height: 300px;
        width: 300px;
    }

    .heart-btn {
        top: 92%;
        left: 38%;
    }

    .heart {
        height: 110px;
        width: 110px;
    }
}


@media screen and (min-width: 280px) {
    .heart-btn {
        top: 91%;
        left: 22%;
    }

    .heart {
        height: 110px;
        width: 110px;
    }

    .preco {
        margin-left: 160px;
    }

    

    #progress {
        width: 40px;
        height: 40px;
        border-radius: 45%;
    }

    #progress-value {
        font-size: 17px;
    }

    .content {
        padding: 7px 10px;
        display: flex;
        cursor: pointer;
        background-color: transparent;
    }

    .number:before {
        top: 50%;
        left: 150%;
    }
}

@media screen and (min-width: 440px) {
    .img {
        height: 350px;
        width: 350px;
    }

    .heart {
        top: 97%;
    }

    .content {
        padding: 7px 10px;
        display: flex;
        cursor: pointer;
        background-color: transparent;
    }

    .number:before {
        top: 85%;
    }

    .preco {
        margin-left: 300px;
    }

    .heart-btn {
        top: 91%;
        left: 19%;
    }
}


@media screen and (min-width: 500px) {
    .img {
        height: 400px;
        width: 400px;
    }

    .heart-btn {
        top: 91%;
        left: 19%;
    }

    .heart {
        top: 110%;
    }

    .preco {
        margin-left: 390px;
    }
}



@media screen and (min-width: 600px) {
    .img {
        height: 450px;
        width: 450px;
    }

    .heart-btn {
        top: 91%;
        left: 20%;
    }

    .heart {
        height: 120px;
        width: 120px;
    }

    .titulo {
        font-size: 63px;
    }

    .subtitulo {
        font-size: 33px;
    }

    .barra {
        font-size: 28px;
    }

    .Categoria {
        font-size: 43px;
    }

    .Ofertasdehoje {
        font-size: 23px;
    }

    .name {
        font-size: 35px;
    }

    .preco {
        font-size: 25px;
        margin-left: 430px;
    }

    

    .de {
        top: 99%;
        left: 55%;
    }

    .por {
        top: 106%;
        left: 47%;
    }
}

/*responsividade-preco e mini coracao*/


@media screen and (min-width: 320px) {
    .preco-normal {
        margin-left: 190px;
    }

    .preco-promocao {
        margin-left: 209px;
        
    }

    .de {
        top: 98.9%;
        left: 65%;
    }

    .por {
        top: 109.1%;
        left: 63%;
    }

    
}

    @media screen and (min-width: 350px) {
        .preco {
            margin-left: 200px;
        }

        .preco-normal {
            margin-left: 200px;
        }

        .preco-promocao {
            margin-left: 225px;
            
        }

        .de {
            top: 98.7%;
            left: 65%;
        }

        .por {
            top: 108.5%;
            left: 63%;
        }
    }

    @media screen and (min-width: 360px) {
        .heart-btn {
            top: 93%;
            
        }

        .preco {
            margin-left: 210px;
        }

        .preco-normal {
            margin-left: 190px;
        }

        .preco-promocao {
            margin-left: 225px;
            
        }

        .de {
            top: 98.6%;
            left: 62%;
        }

        .por {
            top: 108.5%;
            left: 60%;
        }

        .material-icons {
            top:200%;
        }
    }

    @media screen and (min-width: 375px) {

        .heart-btn {
            top: 92%;
           
        }

        .preco {
            margin-left: 220px;
        }

        .preco-normal {
            margin-left: 165px;
        }

        .preco-promocao {
            margin-left: 217px;
        }

        .de {
            top: 99%;
            left: 60%;
        }

        .por {
            top: 108.5%;
            left: 57%;
        }
    }

    @media screen and (min-width: 390px) {
        .preco {
            margin-left: 245px;
        }

        .preco-normal {
            margin-left: 195px;
        }

        .preco-promocao {
            margin-left: 235px;
        }

        .heart-btn {
            top: 92%;
            left: 20%;
        }

        .de {
            top: 99.1%;
            left: 63%;
        }

        .por {
            top: 107.4%;
            left: 60%;
        }
    }

    @media screen and (min-width: 405px) {
        .preco {
            margin-left: 255px;
        }

        .preco-normal {
            margin-left: 200px;
        }

        .preco-promocao {
            margin-left: 245px;
        }

        .de {
            top: 98.9%;
            left: 62%;
        }

        .por {
            top: 107.4%;
            left: 60%;
        }
    }

    @media screen and (min-width: 415px) {
        .preco {
            margin-left: 265px;
        }

        .preco-normal {
            margin-left: 210px;
        }

        .preco-promocao {
            margin-left: 255px;
        }

        .de {
            top: 99%;
            left: 63%;
        }

        .por {
            top: 107.4%;
            left: 61%;
        }
    }
    /*Parei a formatacao do de e por aqui*/
    @media screen and (min-width: 430px) {
        .preco {
            margin-left: 270px;
        }

        .preco-normal {
            margin-left: 270px;
        }

        .preco-promocao {
            margin-left: 290px;
        }

        .de {
            top: 99.2%;
            left: 68%;
        }

        .por {
            top: 107%;
            left: 66%;
        }

        .img {
            height: 350px;
            width: 350px;
        }

        .heart {
            top: 97%;
        }

        .content {
            padding: 7px 10px;
            display: flex;
            border: 2px solid #eae2e1;
            border-radius: 5px;
            cursor: pointer;
        }

        .numb:before {
            top: 85%;
        }

        .heart-btn {
            top: 91%;
            left: 19%;
        }
    }



    @media screen and (min-width: 455px) {
        .preco {
            margin-left: 320px;
        }

        .preco-normal {
            margin-left: 250px;
        }

        .preco-promocao {
            margin-left: 290px;
        }

        .de {
            top: 99%;
            left: 66%;
        }

        .por {
            top: 106.5%;
            left: 65%;
        }
    }

    @media screen and (min-width: 475px) {
        .preco {
            margin-left: 320px;
        }

        .preco-normal {
            margin-left: 250px;
        }

        .preco-promocao {
            margin-left: 295px;
        }

        .de {
            top: 99.1%;
            left: 66%;
        }

        .por {
            top: 106.3%;
            left: 65%;
        }
    }

    @media screen and (min-width: 490px) {
        .preco {
            margin-left: 330px;
        }

        .preco-normal {
            margin-left: 250px;
        }

        .preco-promocao {
            margin-left: 300px;
        }

        .de {
            top: 99.3%;
            left: 64%;
        }

        .por {
            top: 106.5%;
            left: 62%;
        }
    }

    @media screen and (min-width: 525px) {
        .preco {
            margin-left: 370px;
        }

        .preco-normal {
            margin-left: 260px;
        }

        .preco-promocao {
            margin-left: 315px;
        }

        .de {
            top: 99%;
            left: 64%;
        }

        .por {
            top: 106.5%;
            left: 62%;
        }
    }

    @media screen and (min-width: 540px) {
        .preco {
            margin-left: 380px;
        }

        .preco-normal {
            margin-left: 255px;
        }

        .preco-promocao {
            margin-left: 320px;
        }

        .de {
            top: 99%;
            left: 63%;
        }

        .por {
            top: 106.5%;
            left: 62%;
        }
    }

    @media screen and (min-width: 555px) {
        .preco {
            margin-left: 390px;
        }

        .preco-normal {
            margin-left: 250px;
        }

        .preco-promocao {
            margin-left: 322px;
        }

        .de {
            top: 99%;
            left: 63%;
        }

        .por {
            top: 106.5%;
            left: 62%;
        }
    }

    @media screen and (min-width: 570px) {
        .preco {
            margin-left: 395px;
        }

        .preco-normal {
            margin-left: 250px;
        }

        .preco-promocao {
            margin-left: 330px;
        }

        .heart-btn {
            top: 91%;
            left: 21%;
        }

        .de {
            top: 99%;
            left: 62%;
        }

        .por {
            top: 106.5%;
            left: 61%;
        }
    }

    @media screen and (min-width: 585px) {
        .preco {
            margin-left: 405px;
        }

        .preco-normal {
            margin-left: 260px;
        }

        .preco-promocao {
            margin-left: 340px;
        }

        .de {
            top: 99%;
            left: 62%;
        }

        .por {
            top: 106.5%;
            left: 61%;
        }
    }

    @media screen and (min-width: 615px) {
        .preco {
            margin-left: 440px;
        }

        .preco-normal {
            margin-left: 410px;
        }

        .preco-promocao {
            margin-left: 380px;
        }

        .de {
            top: 99%;
            left: 60%;
        }

        .por {
            top: 106.5%;
            left: 58%;
        }
    }

    .curtidos {
        font-weight: bold;
    }

    .curtir {
        font-weight: 900;
    }


@media screen and (min-width: 768px) {
    .preco-normal {
        margin-left: 223px;
        
    }

    .preco-promocao {
        margin-left: 380px;
        
    }

    .de {
        top: 98.4%;
        left: 56%;
        
    }

    .por {
        top: 106.4%;
        left: 54%;
        
    }
}

.minicoracao{
    position:relative;
}


