* {
    margin: 0;
    padding: 0;
}



.carrossel {
    width: 400px;
    height: 250px;
    outline: 3px solid brown;
    margin: 50px auto;
    box-shadow: 10px 10px 15px rgba(0,0,0,7);
    overflow: hidden;
}

    .carrossel ul {
        display: flex;
        list-style: none;
        width: 400px;
        height: 250px;
    }

    .carrossel il {
        position: relative;
    }


@media screen and (max-width: 435px) {
    .carrossel {
        width: 350px;
    }
}

@media screen and (max-width: 395px) {
    .carrossel {
        width: 300px;
        height: 230px
    }
}
