@model IEnumerable<Projeto_Lunary.Models.Campanhas>
@{
    ViewBag.Title = "index";
}

<body>

    <h2 class="text-center" style="color:brown;">Campanhas</h2>
    <br />
    <br />
    <a href="/Campanha/Create">
        <button type="button" class="btn btn-yellow" style="border-radius:10px;background-color:yellow;color:black;padding:10px;font-size:15px;margin-bottom:20px;">Novo</button>
    </a>

    <table class="table">
        <thead>
            <tr style="font-size:17px;">
                <td style="font-weight:bold">Id</td>
                <td style="font-weight:bold">Descrição</td>
                <td style="font-weight:bold">Preço</td>
                <td></td>
            </tr>

        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr style="font-size:15px;">
                    <td>@item.CAMID</td>
                    <td>@item.CAMDESCRICAO</td>
                    <td>R$@item.CAMPRECO.ToString("F")</td>
                    <td>
                        @{
                            if (item.CAMFOTO != null)
                            {
                                var base64 = Convert.ToBase64String(item.CAMFOTO);
                                var imgSrc = String.Format("data:image/jpg/gif/png;base64,{0}", base64);
                                <img src='@imgSrc' style="max-width:250px; max-height:250px;" />
                            }
                        }
                    </td>

                    <td class="botoes">
                        <a href="/Campanha/Editar?id=@item.CAMID"><button type="button" class="btn btn-green" style="border-radius: 10px; background-color: limegreen; color: white; padding: 10px; font-size: 15px; ">Editar</button></a>
                        <a href="/Campanha/Excluir?id=@item.CAMID"><button type="button" class="btn btn-red" style="border-radius: 10px; background-color: red; color: white; padding: 10px;font-size:15px;">Excluir</button></a>
                    </td>
                </tr>
            }
        </tbody>



    </table>
</body>


