@model Projeto_Lunary.Models.Restaurante

@{
    ViewBag.Title = "Campanhas";
}

<h2>Campanhas</h2>
<div>
    <form action="/Restaurante/Campanhas" enctype="multipart/form-data" method="post">
        <div class="form-group">
            <label for="Descricao">Descrição</label>
            <input type="text" class="form-control"
                   id="Descricao" name="Descricao"
                   required />
        </div>

        <div class="form-group">
            <label for="CAMPRECO">Preço</label>
            <input type="text" class="form-control" step="0.010"
                   id="CAMPRECO" name="CAMPRECO"
                   required />
        </div>

        <div class="form-group">
            <label for="Foto"></label>
            <input type="file" class="form-control"
                   id="Foto" name="Foto"
                   required />
        </div>
    </form>
</div>

