
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<div>
    <form action="/" method="post">
        <div>
            <label>Prato:</label><br />
            <input type="text" name="nome" id="nome" required />
        </div>
        <div>
            <label>Preço:</label><br />
            <input type="number" name="preco" id="preco" step="0.010" required />
        </div>
        <div>
            <label>Descrição:</label><br />
            <input type="text" name="descricao" id="descricao" required />
        </div>
        <div>
            <label>Preço Promocional:</label><br />
            <input type="number" name="precopromocao" id="precopromocao" step="0.010" />
        </div>
        <div>
            <label>Categoria:</label><br />
            <input type="text" name="categoria" id="categoria" required />
        </div>
        <div class="row">
            <div class="col-md-12">
                <label>Imagem:</label><br />
                <input type="image" name="imagem" id="imagem" required />
                @Html.Label("txt_imagem", "Imagem", new { @class = "control-label" })
                @Html.TextBox("txt_imagem", null, new { @class = "form-control", type = "file", accepet = "image/jpe,image/jpeg" })
            </div>
        </div>
        <br />
        <div>
            <a class="btn btn-default" href="/Restaurante/Index">Voltar</a>
            <button class="btn btn-success" type="submit">Salvar</button>
        </div>

    </form>
</div>