@model Projeto_Lunary.Models.Restaurante
@{
    ViewBag.Title = "Create";
}

<h2>Cadastro de Produto</h2>
<div>
    <form action="/Produto/Create" method="post">
        <div class="form-group">
            <label for="nome">Nome Do Prato</label>
            <input type="text" class="form-control"
                   maxlength="100"
                   id="nome" name="nome"
                   required />
        </div>
        <div class="form-group">
            <label for="preco">Preço</label>
            <input type="number" class="form-control"
                   id="preco" name="preco" min="0"
                   required />
        </div>
        <div class="form-group">
            <label for="descricao">Descrição</label>
            <input type="text" class="form-control"
                   id="descricao" name="descricao" min="0"
                   required />
        </div>
        <div class="form-group">
            <label for="precopromocao">Preço Promoção</label>
            <input type="number" class="form-control"
                   id="precopromocao" name="precopromocao" min="0"
                   required />
        </div>

        <div class="form-group">
            <label for="categoria">Categoria</label>
            <input type="text" class="form-control"
                   id="categoria" name="categoria" min="0"
                   required />
        </div>

        <div class="col-md-12">
            <input type="image" name="imagem" id="imagem" required />
            @Html.Label("txt_imagem", "Imagem", new { @class = "control-label" })
            @Html.TextBox("txt_imagem", null, new { @class = "form-control", type = "file", accepet = "image/jpe,image/jpeg" })
        </div>

        <div>
            <a href="/Restaurante/Index"> <button type="button" class="btn btn-primary">Voltar</button>  </a>
            <a href="/Restaurante/Index"> <button type="submit" class="btn btn-success">Salvar</button>  </a>
        </div>
    </form>
</div>


