@model Projeto_Lunary.Models.Restaurante

@{
    ViewBag.Title = "Detalhes";
    <!-- Conversão img -->
    var imgDefault = "/Content/Menu/img/LogoLunary.png";
    var imgSrc = "";
    if (Model.imagem != null)
    {
        var base64 = Convert.ToBase64String(Model.imagem);
        imgSrc = String.Format("data:image/jpg/gif/png;base64,{0}", base64);

    }
    else
    {
        imgSrc = imgDefault;
    }
    <link href="~/Content/Menu/Menu.css" rel="stylesheet" />
}
<h3><i class="glyphicon glyphicon-circle-arrow-left" data-dismiss="modal"></i></h3>

<h2>
Detalhes
</h2>


<div class="">@Model.RESTANOME</div>

<div>
    <img class="img" src="@imgSrc" alt="@Model.RESTANOME" />
</div>

@if (Model.RESTADESCRICAO != null && Model.RESTADESCRICAO != "")
{
    <div class="">(@Model.RESTADESCRICAO)</div>
}

<div class="preco">R$@Model.RESTAPRECO.ToString("F")</div>