@model Projeto_Lunary.Models.Restaurante
@{
    ViewBag.Title = "Editar";
}

<h2>Editar</h2>

<div>
    <form action="/Restaurante/Editar?id=@Model.RESTAUID" method="post">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" maxlength="100" id="nome" name="nome" value="@Model.RESTANOME" required />
        <div>
            <label for="preco">Preço</label>
            <input type="text" class="form-control" id="" name="preco" value=@Model.RESTAPRECO required />
        </div>
        <div>
            <label for="descricao">Descrição</label>
            <input type="text" class="form-control" maxlength="300" id="" name="descricao" value="@Model.RESTADESCRICAO" required />
        </div>
        <div>
            <label for="precopromocional">Preço Promocional</label>
            <input type="text" class="form-control" id="" name="precopromocional" value=@Model.RESTAPREPROMOCAO required />
        </div>
        <div>
            <br />
            <label for="categoria">Categoria: </label>
            <select id="categoria" name="categoria">
                @foreach (var item in ViewBag.listacategoria)
                {
                    <option>@item.RESTACATEGORIA</option>
                }
            </select>
        </div>

        <div>
            <label for="imagem"></label>
            <input type="file" class="form-control" id="imagem" name="imagem" value=@Model.imagem  required />
        </div>

        <br />
        <div>
            <a href="/Restaurante/Index"> <button type="button" class="btn btn-primary">Voltar</button>  </a>
            <button type="submit" class="btn btn-success">Salvar</button>
        </div>

    </form>

</div>


