@model Projeto_Lunary.Models.Restaurante
@{
    ViewBag.Title = "Editar";
}

<h2>Editar</h2>

<div>
    <form action="/Restaurante/Editar?id=@Model.RESTAUID" method="post">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" maxlength="100" id="nome" name="nome" value=@Model.RESTANOME required />
        <div>
            <label for="descricao">Descrição</label>
            <input type="text" class="form-control" maxlength="100" id="" name="descricao" value=@Model.RESTADESCRICAO required />
        </div>
        <div>
            <label for="Preco"></label>
            <input type="text" class="form-control" maxlength="100" id="" name="descricao" value=@Model.RESTADESCRICAO required />
        </div>

        <br />
        <div>
            <a href="/Produto/Index"> <button type="button" class="btn btn-primary">Voltar</button>  </a>
            <button type="submit" class="btn btn-success">Salvar</button>
        </div>

    </form>

</div>


