@{
    ViewBag.Title = "Home Page";

}
<link href="~/Content/Dashboard.css" rel="stylesheet" />

<body class="dashboard">
    
        <div class="container">
            <!-- Primeiro Card -->
            <div class="card">
                <div class="content">
                    <a href="/Admin/ListPratos">
                        <div class="col-md-12 ">
                            <div>
                                <h2>Lista de Pratos</h2>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- Segundo Card -->
            <div class="card">
                <div class="content">
                    <a href="/Admin/Create">
                        <div class="col-md-12">
                            <div>
                                <h2>Criar Novos Produtos</h2>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- Terceiro Card -->
            <div class="card">
                <div class="content">
                    <a href="/Restaurante/Menu">
                        <div class="col-md-12 ">
                            <div>
                                <h2>Menu Virtual</h2>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>


        <div class="container">
            <!-- Primeiro Card -->
            <div class="card">
                <div class="content">
                    <a href="/QrCode/QR">
                        <div class="col-md-12 ">
                            <div>
                                <h2>QR CODE</h2>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- Segundo Card -->
            <div class="card">
                <div class="content">
                    <a href="/Campanhas/index">
                        <div class="col-md-9 ">
                            <div>
                                <h2>Campanhas</h2>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
 



    




</body>






