@{
    ViewBag.Title = "Home Page";

}
<link href="~/Content/Dashboard.css" rel="stylesheet" />

<body class="dashboard">
    <div class="div">
        <div class="container">
            <!-- Primeiro Card -->
            <div class="card">
                <div class="content">
                    <a href="/Admin/ListPratos">
                        <div class="col-md-12 ">
                            <div>
                                <h2>Lista de Pratos</h2>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <br />
            <br />

            <!-- Segundo Card -->
            <div class="card">
                <div class="content">
                    <a href="/Admin/Create">
                        <div class="col-md-12">
                            <div>
                                <h2>Criar Novos Produtos</h2>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <br />
            <br />
            <!-- Terceiro Card -->
            <div class="card">
                <div class="content">
                    <a href="/Restaurante/Menu">
                        <div class="col-md-12 ">
                            <div>
                                <h2>Menu Virtual</h2>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div>
            @using (Html.BeginForm("QR", "QrCode", FormMethod.Post))
            {
                <div class="container">
                    <form>
                        <input type="hidden" name="qrcode" value="@Server.MapPath("~/Restaurante/Menu")" />
                    </form>
                    <br />
                    <br />
                    <div class="QRCode">
                        <input class="butao" type="submit" value="Generate" />

                    </div>
                    @if (ViewBag.QrCodeImage != null)
                    {
                        <img src="@ViewBag.QrCodeImage" alt="" style="height:300px;width:300px" />
                    }
                </div>
            }
        </div>


        <div class="container">
            <!-- Primeiro Card -->
            <div class="card">
                <div class="content">
                    <div class="col-md-12 ">

                    </div>
                </div>
            </div>
            <br />
            <br />
            <!-- Segundo Card -->
            <div class="card">
                <div class="content">
                    <a href="/Campanha/index">
                        <div class="col-md-9 ">
                            <div>
                                <h2>Campanhas</h2>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />


   



    
</body>






